.mt-100 {
    margin-top: 100px
}

.container-fluid {
    margin-top: 50px
}

body {
    background-color: #f2f7fb
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 20px;
    position: relative
}

.card .card-block {
    padding: 1.25rem
}

.table-responsive {
    display: inline-block;
    width: 100%;
    overflow-x: auto
}

.card .card-block table tr {
    padding-bottom: 20px
}

.table>thead>tr>th {
    border-bottom-color: #ccc
}

.table th {
    padding: 1.25rem 0.75rem
}

td,
th {
    white-space: nowrap
}

/*.tabledit-input:disabled {*/
/*    display: none*/
/*}*/

.btn-primary,
.sweet-alert button.confirm,
.wizard>.actions a {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}
